= render partial: 'common/menu.html.slim'
= render partial: 'nav.html.slim'


.product_container
  = render partial: 'product', collection: @products, locals: {display_link: true}

= paginate @products
