$bg-primary: rgb(70,70,70);
$bg-light: rgb(121,113,113);

$f-light: rgb(153,64,0);
$f-primary: rgb(90,38,0);

$sale: rgb(255,0,0);
$new: rgb(0,255,0);

@mixin opacity($opacity){
  -webkit-filter: opacity($opacity);
  filter:opacity($opacity);
  filter:alpha(opacity=$opacity);
}

html{
  margin: 0px auto;
}

h1, h2{
  color: $f-primary;
}
p{
  color:$f-light;
  font-size: 14px;
}

a, a:link,a:visited,a:active{
  color:$f-primary;
  text-decoration: none;
}

a:hover{
  color: $f-light;
}

body{
  margin: 0px auto;
  background-color: $bg-primary;
  text-align: center;
}


nav {
  margin: 0px auto;
  text-align: center;
  background-color: $bg-light;
  ol {
    list-style: none;
  }

  li {
     display: inline-block;
     color:$f-primary;
     font-size: 12px + 2px;
    }

    a{
      margin: 5px;
      padding: 5px;
    }
}
.product_container{
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .product_wrapper{
    position: relative;
    display: inline;
    padding: 0.5%;
    .product_short_desc{
      background-color: $bg-light;
    }
  }
    h2{
      text-align: center;
      margin-bottom: -6%;
    }

    .new_product_tag{
      @include opacity(.8);
      z-index:1;
      width: 70px;
      height: 20px;
      background-color: $new;
      color: white;
      position: absolute;
      top:9.1%;
      left:53%;
    }

    .sale_product_tag{
      @extend .new_product_tag;
      background-color: $sale;
      color:black;
    }
}

.pagination{
  margin: 0px auto;
  background-color: $bg-primary;
  float:none;
}

.search_container{
  margin: 0px auto;
  width: 40%;
  .keyword_search{
    text-align: left;
    input#keywords{
      width: inherit;
      margin-left: 0.5%;
      margin-right: 0.5%;
      margin-bottom: 1%;
    }
  }
  .category_search{
    text-align: left;
    input{
      margin-left: 0.5%;
    }
  }
}

.single_product_container{
  margin: 0px auto;
  width: 40%;
  a{
    float:left;
    margin-right: 5%;
  }
  .single_product_text{
    display: relative;
    text-align: left;
    margin-left: 5%;
  }
}
